<div ng-controller="HallController">
    <div class="container">
        <div class="row">
            <div class="games">
                <h1>{{title}}</h1>
                <div ng-repeat="data in result" class="col s3">
                    <a ng-click="connectGames(data.game_code)" class="thumbnail-image">
                        <img class="responsive-img"
                             ng-src="http://playtechcms.orientalgame.com:8081/sites/default/files/{{imageUri(data.thumb_image.uri)}}"/>
                    </a>
                    <div class="truncate">{{data.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>